.clock img{
    width: 400px;
}

html, body , .container{   

    height: 100%;
    background-color: #F7F7F7;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock{
    width: 400px;
    height: 400px;
    background: url(/images/clock_face.png);
}
.clock::after{
    position: absolute;
    content: '';
    background: #000;
    width: 20px;
    height: 20px;
    top: 51%;
    left : 50%;
    transform:translateX(-50%) translateY(-50%);
    border-radius: 50%;
}

.hands{
    position: absolute;

}